<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="dental_clinic_automation.Properties.Settings.IstanbulDisKlinikConnectionString"
            connectionString="Data Source=DESKTOP-925472U\SQLEXPRESS;Initial Catalog=IstanbulDisKlinik;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>